<footer>
    <div class="px-4 lg:px-8 py-2 bg-gray-800 text-white">
        <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 py-4">                   
            <div class="footer-item">                       
                <div class="flex justify-center items-center">
                    <a href="#home"><img class="h-40" src="/src/assets/images/libro_reclamaciones.png" alt="logo_libro_reclamaciones"></a>
                </div>
            </div>
            <div class="flex justify-center items-center">
                <div class="footer-contact">
                    <h3>Contacto</h3>
                    <p>Teléfono: 123-456-7890</p>
                    <p>Email: contacto@VirgenYauca.com</p>
                </div>
            </div>
            <div class="footer-social">
                <h3>Redes Sociales</h3>
                <div class="flex space-x-4 justify-center items-center">                         
                    <a href="#"><img class="h-20" src="/src/assets/images/SocialLogos/whatsapp-svgrepo-com.svg" alt="logo_Facebook"></a>
                    <a href="#"><img class="h-20" src="/src/assets/images/SocialLogos/facebook-svgrepo-com.svg" alt="logo_Instagram"></a>
                    <a href="#"><img class="h-20" src="/src/assets/images/SocialLogos/twitter-svgrepo-com.svg" alt="logo_Twitter"></a>
                </div>
            </div>
        </section>
        <section class="grid grid-cols-1 sm:grid-cols-2 justify-between items-center">                  
            <div class="md:order-2">
                <ul class="flex flex items-center md:justify-end">
                    <li><img class="h-full object-contain" src="img/img_footer/Visa-Logo.jpg" alt="logo_Visa"></li>
                    <li><img class="h-full object-contain" src="img/img_footer/mastercard-logo.jpg" alt="logo_MasterCard"></li>
                    <li><img class="h-full object-contain" src="img/img_footer/paypal.png" alt="logo_PayPal"></li>
                </ul>
            </div>
            <div class="footer-copyright-text md:order-1">  
                <p>&copy; 2025 Licoreria Virgen de Yauca. Todos los derechos reservados.</p>
            </div>              
        </section>
    </div>
</footer>     