---
import { Image } from 'astro:assets'
import { images } from '../assets/images/carrusel/images.js'
---
<div class="bg-gray-400 xl:px-60">
    <div class="text-left py-10">
        <h2 class="opacity-0 transition-all duration-700 px-20 lg:px-4 text-5xl" data-animate>Ubicación</h2>
    </div>
    <div class="pb-5">
        <div class="flex flex-col gap-4 xl:gap-16 md:flex-row justify-center items-center xl:text-2xl">
            <div class="md:w-1/4 lg:w-1/2 px-4">
                <p class="opacity-0 transition-all duration-700" data-animate>Nuestra oficina está ubicada en el corazón de la ciudad, facilitando el acceso a nuestros clientes y socios comerciales. Visítanos en Calle Falsa 123, Ciudad Ejemplo.</p>
                <div class="flex justify-center items-center gap-4 xl:gap-18 mt-4 xl:mt-16">
                    <a href="" class="bg-white rounded hover:cursor-pointer hover:scale-105 p-2">
                        <img src="" alt="">
                        <p>Google Maps</p>
                    </a>
                    <a href="" class="bg-white rounded hover:cursor-pointer hover:scale-105 p-2">                       
                        <p>Waze</p>
                    </a>
                </div>
            </div>
            <div class="w-full h-full md:h-full lg:w-1/2 px-4 pb-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3902.0606557925134!2d-77.06062748857687!3d-12.039345241715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105ced50af72151%3A0xe481f2243224217b!2sAv.%20Enrique%20Meiggs%201110%2C%20Lima%2015079!5e0!3m2!1ses-419!2spe!4v1766161449546!5m2!1ses-419!2spe" style="border: 0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-60 md:h-80 lg:h-100"></iframe>
            </div>
        </div>
    </div>
</div>